<% include ../partials/header %>
<main>
    <ul class="pagination justify-content-around">
        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
    </ul>
    <div class="d-flex justify-content-around">
        <h3 class="nav bg-success border border-success rounded mt-1 text-white">List of Incomes</h3>
    </div>
    <div class="d-flex">
        <table class="bg-success rounded mt-1">
            <% print5.forEach(function(name){ %>
            <tr class="text-white">
                <td class="col-xl-6">
                    <%= name.categories_name %>
                </td>
                <td class="col-xl-6">
                    <%= name.transactions_amount %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-success rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Income total: </th>
                    <% print3.forEach(function(name){ %>
                <th class="col-xl-6" id="<%= name.transactions_income %>"><%= name.transactions_income %></th>
                    <% }) %>
            </tr>
        </table>
    </div>
    <div class="d-flex justify-content-around">
        <h3 class="nav bg-danger rounded mt-1 text-white">List of Expenses</h3>
    </div>
    <div class="d-flex">
        <table class="bg-danger rounded mt-1">
            <% print.forEach(function(name){ %>
            <tr class="text-white">
                <td class="col-xl-6">
                    <%= name.categories_name %>
                </td>
                <td class="col-xl-6">
                    <%= name.transactions_amount %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-danger rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Expense total: </th>
                        <% print2.forEach(function(name){ %>
                <th class="col-xl-6" id="<%= name.transactions_expense %>"><%= name.transactions_expense %></th>
                        <% }) %>
            </tr>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-primary rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Balanc: </th>
                        <% print4.forEach(function(name){ %>
                <th class="col-xl-6" id="<%= name.diference %>"><%= name.diference %></th>
                        <% }) %>
            </tr>
        </table>
    </div>
    <div class="d-flex" id="chartMy">
        <canvas id="bar-chart"></canvas>
    </div>
    <script>
        $(document).ready(function() {

            var income = $(this).data('');
            var expense = $(this).data('');
            var diference = $(this).data('');   
            var data = {};
            data.income = income;
            data.expense = expense;
            data.diference = diference;

            $.ajax({
                    type: 'GET',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://localhost:4200/expense',
                    success: function(data) {
                      console.log('success');
                      console.log(JSON.stringify(data));
                      }
                });

            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                labels: ["Income", "Expense", "Diference"],
                datasets: [
                    {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                    data: data
                    }
                ]
                },
                options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Chart of speding'
                }
                }
            });
        });

        
    </script>
