<% include ../partials/header %>
<main>
    <ul class="pagination justify-content-around">
        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
    </ul>
    <div class="d-flex justify-content-around">
        <h3 class="nav bg-success border border-success rounded mt-1 text-white">List of Incomes</h3>
    </div>
    <div class="d-flex">
        <table class="bg-success rounded mt-1">
            <% print5.forEach(function(name){ %>
            <tr class="text-white">
                <td class="col-xl-6">
                    <%= name.categories_name %>
                </td>
                <td class="col-xl-6">
                    <%= name.transactions_amount %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-success rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Income total: </th>
                    <% print3.forEach(function(name){ %>
                <th class="col-xl-6"><%= name.transactions_income %></th>
                    <% }) %>
            </tr>
        </table>
    </div>
    <div class="d-flex justify-content-around">
        <h3 class="nav bg-danger rounded mt-1 text-white">List of Expenses</h3>
    </div>
    <div class="d-flex">
        <table class="bg-danger rounded mt-1">
            <% print.forEach(function(name){ %>
            <tr class="text-white">
                <td class="col-xl-6">
                    <%= name.categories_name %>
                </td>
                <td class="col-xl-6">
                    <%= name.transactions_amount %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-danger rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Expense total: </th>
                        <% print2.forEach(function(name){ %>
                <th class="col-xl-6"><%= name.transactions_expense %></th>
                        <% }) %>
            </tr>
        </table>
    </div>
    <div class="d-flex">
        <table class="bg-primary rounded mt-1">
            <tr class="text-white">
                <th class="col-xl-6">Balanc: </th>
                        <% print4.forEach(function(name){ %>
                <th class="col-xl-6"><%= name.diference %></th>
                        <% }) %>
            </tr>
        </table>
    </div>
</div>
<<<<<<< HEAD
<div class="d-flex chart1">
    <canvas id="myChart"></canvas>
</div>
=======
>>>>>>> cb6c6e949a91c1b3d84b9bc083b3119fefc3361e
</main>
<script src="/assets/script.js"></script>