<% include ../partials/header %>
<main>
    <ul class="pagination justify-content-around">
        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
    </ul>
    <div class="d-flex nav nav-justified bg-success boreder-success rounded mt-1">
        <p class="text-white col-xl-11">Income</p>
        <% print3.forEach(function(name){ %>
        <p class="ml-auto text-white col-xl-1 nav justify-content-end">
            <%= name.transactions_income %>
        </p>
        <% }) %>
    </div>
    <div class="d-flex nav bg-danger border border-danger rounded mt-1">
        <p class="text-white col-xl-11">Expense</p>
        <% print2.forEach(function(name){ %>
        <p class="ml-auto text-white col-xl-1 nav justify-content-end">
            <%= name.transactions_expense %>
        </p>
        <% }) %>
    </div>
    <div class="d-flex">
        <table class="nav bg-info border border-primary rounded ml-auto mt-1">
            <% print.forEach(function(name){ %>
            <tr class="text-white">
                <td class="col-xl-8">
                    <%= name.categories_name %>
                </td>
                <td class="col-xl-4">
                    <%= name.transactions_amount %>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <hr>
    <div class="d-flex nav bg-info border border-primary rounded">
        <p class="text-white col-xl-11">Balance</p>
        <% print4.forEach(function(name){ %>
        <p class="ml-auto text-white col-xl-1 nav justify-content-end">
            <%= name.diference %>
        </p>
        <% }) %>
    </div>
</main>
<% include ../partials/footer %>